<!doctype html>
	<html>
	<head>
		<title>Twitter-chat</title>
		<meta charset='UTF-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/style/style.css" />
	</head>
	<body>
		<header>
			<h1>Twitter-chat</h1>
		</header>
        <section id="logged-in">
            <p></p>
        </section>
