<%- include('./partials/head.ejs') %>
<section id="tweets">
    <form action="" id="tweet_form">
    	<input type="text" name="tweet-query" id="tweet-query" autocomplete="off">
    	<button type="submit">Search for tweets</button>
    </form>
    <ul id="tweet-results"></ul>
    <button id="send-tweet">Send Tweet</button>
</section>

<section id="chat">
    <ul id="messages"></ul>
    <form action="" id="message_form">
    	<input type="text" name="field-message" id="field-message" autocomplete="off" minlength="1">
    	<button type="submit">Send</button>
    </form>
</section>

<section id="user" class="visible">
	<form action="/" id="user_form">
		<label for="username">Username</label>
		<input type="text" id="username" name="username" minlength="3" autofocus>
		<button type="submit">Start</button>
	</form>
</section>

<section id="rooms" class="visible">
	<form action="/" id="room_form">
		<label for="room">Rooms</label>
        <p>What subject do you want to talk about in this twitter-chat?</p>
        <p><span>Remember:</span> Talk with tweets only as much as you can</p>
		<select id="room" name="room">
		    <option value="Programming">Programming</option>
		    <option value="Designing">Designing</option>
		    <option value="Writing">Writing</option>
            <option value="Reading">Reading</option>
		</select>
		<button type="submit">Start</button>
	</form>
</section>

<section id="connection">
	<p>
		Ah oh, it seems like your connection failed...<br/>
		Are you in a tunnel?? We will keep on trying to connect for you.
	</p>
</section>

<button type="button" id="leave-room" name="button">Leave Room</button>

<%- include('./partials/foot.ejs') %>
